@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active{
  background-color: #f9e7d2;
  border-radius: 5px;
  padding: 0.5rem;
}

/* styles.css */

.dropdown {
  position: relative;
  display: inline-block;
}



.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  z-index: 1;
  width: 15vw;
  border-radius: 10px;
  border: 1px solid #cf7a1a ;

}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #844e10;
  font-size: small;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f9e7d2;
  border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
